<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PQC API - Main Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/pqcapi.js') }}"></script>
<body>
  <header>
    PQC API - Main Page
  </header>
  <nav>
    <a href="{{ url_for('index') }}">Home</a>
       <!-- 수정 후 -->
   <a href="{{ url_for('kyber_page') }}">Kyber</a>
   <a href="{{ url_for('dilithium_page') }}">Dilithium</a>
  </nav>
  <main>
    <p>
      본 웹 페이지는 PQC 라이브러리의<br>
      테스트를 위해 구현되었습니다.
    </p>
  </main>
</body>
</html>
